.wrapper {
  width: var(--wrapper-width);
  height: 500px;
  margin: 0 auto;
  border: 1px solid red;
}
.burger {
  width: 100%;
}
.content {
}
.sandwich {
  height: 30px;
  width: 100%;
  padding: 5px 10px;
  background-color: var(--color-sandwich);
}
.salad {
}
.bacon {
}
.cheese {
}
.meat {
}
.sanwich {
}
