@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,700;1,400;1,600&display=swap");

:root {
  --wrapper-width: 400px;
  --color-sandwich: #e0844c;
}
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
}
