* {
  --color-link: #333;
}
.wrapper {
  width: 100%;
  text-align: start;
  display: flex;
  flex-direction: row;
}
.home {
  width: 100%;
  border: 2px solid var(--border-color-black);
  Link {
    color: var(--color-link);
  }
}
